:root {
  --white: #f4feff;
  --primary: rgb(215, 32, 135);
  --secondary: rgb(223, 206, 104);
  --gray: rgba(193, 249, 252, 0.12);
  --red: rgb(231, 12, 12);
}

.container {
  color: var(--white);
  background-image: repeating-linear-gradient(
      163deg,
      var(--gray) 0px,
      var(--gray) 1px,
      transparent 1px,
      transparent 13px
    ),
    repeating-linear-gradient(
      253deg,
      var(--gray) 0px,
      var(--gray) 1px,
      transparent 1px,
      transparent 13px
    ),
    linear-gradient(208deg, var(--primary), var(--secondary));
  /* display: grid; */
  font-family: Arial, Helvetica, sans-serif;
  /* grid-template-columns: 1fr;
  grid-template-rows: 30% 60% 10%; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.header__avatar {
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  background-image: url('../assets/img/avatar.jpg');
  background-size: cover;
}

.header__username {
  font-size: 1.2rem;
  padding-top: 1rem;
}

.main {
  margin: 0px auto;
  width: 100vw;
  max-width: 680px;
  padding-top: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group__link {
  display: block;
  position: relative;
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid var(--white);
  margin: 0 1rem;
}
.group__link:not(:last-child) {
  margin-bottom: 1.1rem;
}

.group__link:hover {
  background: var(--gray);
  box-shadow: 0 8px 32px 0 var(--gray);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.group__link,
.group__link:visited {
  color: var(--white);
  text-decoration: none;
}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 1rem 0;
}
.footer__link,
.footer__link:visited {
  color: var(--white);
  text-decoration: none;
  font-weight: bolder;
}
.footer__credits::after {
  content: '\2661';
  color: var(--red);
  font-size: 1.5rem;
  font-weight: bolder;
  vertical-align: middle;
}
