:root {
  --white: #f4feff;
  --primary: rgb(215, 32, 135);
  --secondary: rgb(223, 206, 104);
  --gray: rgba(193, 249, 252, 0.12);
  --red: rgb(231, 12, 12);
}
body {
  font-family: sans-serif;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: repeating-linear-gradient(
      163deg,
      var(--gray) 0px,
      var(--gray) 1px,
      transparent 1px,
      transparent 13px
    ),
    repeating-linear-gradient(
      253deg,
      var(--gray) 0px,
      var(--gray) 1px,
      transparent 1px,
      transparent 13px
    ),
    linear-gradient(208deg, var(--primary), var(--secondary));
}

.container__info {
  margin: 0px auto;
  width: 100vw;
  max-width: 680px;
  padding-top: 1rem;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.user__avatar {
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  background-image: url('../assets/img/avatar.jpg');
  background-size: cover;
}

.user__username {
  padding-top: 2rem;
  line-height: 0;
}
.user__username h1 {
  font-size: 1.2rem;
}

.group__button-link {
  display: block;
  position: relative;
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid var(--white);
  margin: 1rem;
}

.group__button-link:hover {
  background: var(--gray);
  box-shadow: 0 8px 32px 0 var(--gray);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  cursor: pointer;
  transition: ease-in-out 5ms;
}

.group__button-link,
.group__button-link:visited {
  color: var(--white);
  text-decoration: none;
}

.footer {
  text-align: center;
}
.footer__link,
.footer__link:visited {
  color: var(--white);
  text-decoration: none;
  font-weight: bolder;
}
.footer__credits::after {
  content: '\2661';
  color: var(--red);
  font-weight: bolder;
}
